.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  list-style-type: none;
}
.image {
  flex-basis: calc((100% - 150px) / 4);
  border-radius: 15px;
  overflow: hidden;
}
